<!-- Modal para ver perfil de usuario -->
<div class="modal fade" id="userProfileModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Perfil del solicitante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="userProfileContent">
        <!-- contenido dinámico -->
      </div>
    </div>
  </div>
</div>