{% extends 'base.html' %}

{% block title %}Inventario de Componentes{% endblock %}

{% block content %}
  <h1 class="mb-3">Inventario de Componentes</h1>
  <p class="lead">
    Sistema de gestión para el inventario y préstamo de componentes del laboratorio de electrónica de la UNEXPO.
    Diseñado para estudiantes y profesores, permite registrar, consultar y administrar los recursos disponibles.
    Inicia sesión para comenzar.
  </p>
  <p class="lead">
    <a href="{% url 'login' %}" class="btn btn-lg btn-primary fw-bold">Iniciar sesión</a>
  </p>
{% endblock %}